*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Raleway", sans-serif;
  color: #7f98ad;
  font-weight: 300;
  line-height: 1.6; }

.overlay-section {
  background: rgba(0, 0, 0, 0.6); }

.heading-1 {
  font-size: 3rem;
  color: #222;
  line-height: 1.7;
  font-weight: 600;
  margin-bottom: 1rem; }

.heading-2 {
  font-size: 2rem;
  color: #222;
  line-height: 1.7;
  font-weight: 700;
  margin-bottom: 2rem; }

.heading-3 {
  font-size: 2rem;
  font-weight: 400;
  display: block; }

.heading-4 {
  font-size: 1.2rem;
  color: #2f3542;
  line-height: 1.7;
  font-weight: 700;
  margin-bottom: 1rem; }

.heading-6 {
  letter-spacing: 1px;
  font-weight: 600;
  color: #7f98ad;
  font-size: 1.8rem; }

.paragraph {
  font-size: 1.2rem;
  color: #222;
  line-height: 1.7;
  margin-bottom: 1rem;
  font-weight: 600; }

.paragraph-des {
  font-size: 1.6rem;
  color: #222;
  line-height: 1.7;
  margin-bottom: 1rem;
  font-weight: 400; }

#navbar {
  background: #fff; }
  #navbar-icon {
    color: #714da0;
    background: #714da0; }
  #navbar-item {
    color: #7f98ad;
    padding: 0 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase; }
  #navbar-item:hover {
    color: #222; }
  #navbar-brand {
    color: #714da0;
    font-size: 3rem;
    font-weight: 700; }

#header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 70rem; }
  #header-content {
    margin-top: 25rem;
    margin-left: 7rem; }
  #header-btn {
    color: #fff;
    font-size: 1.5rem;
    background: #714da0;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid #714da0;
    transition: all 1s; }
  #header-btn:hover {
    color: #714da0;
    background-color: #fff; }

#offers {
  padding: 12rem 3rem;
  background-color: #f7f7f7; }
  #offers-icon {
    font-size: 5rem; }

#services {
  padding: 5rem 3rem; }
  #services-content {
    border: 1px solid #f7f7f7;
    margin: 1rem; }
  #services-icon {
    color: #714da0;
    font-size: 5rem;
    margin: 1rem 0; }
  #services-line:after {
    content: " ";
    background: #714da0;
    width: 5rem;
    height: 1px;
    position: absolute;
    left: calc(50% - 25px);
    top: 9rem; }

#doctors-profiles {
  margin: 5rem 0; }

#doctors .box {
  margin: 1rem auto;
  width: 26.5rem;
  height: 32.7rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3); }
  #doctors .box .imgBx {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 2; }
  #doctors .box .imgBx img {
    transition: 0.5s; }
  #doctors .box .social-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    margin: 0;
    padding: 0; }
    #doctors .box .social-links li {
      list-style: none; }
      #doctors .box .social-links li a {
        position: relative;
        display: block;
        width: 3.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        text-align: center;
        background: #fff;
        color: #222;
        margin: 0 .5rem;
        border-radius: 50%;
        transition: 0.5s;
        opacity: 0; }
  #doctors .box .details {
    margin: 0 auto;
    z-index: 4;
    background: #fff;
    width: 100%;
    height: 6rem;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    transition: 0.5s; }
    #doctors .box .details h3 {
      margin: .5rem 0 0; }

#doctors .box:hover .details {
  transform: translatey(-100%); }

#doctors .box:hover .imgBx {
  transform: translateY(-1rem); }

#doctors .box:hover .imgBx img {
  opacity: 0.5; }

#doctors .box:hover .social-links li a {
  transform: translateY(0);
  opacity: 1; }

#doctors .box:hover .social-links li a i {
  font-size: 1.6rem;
  line-height: 3.5rem;
  transition: 0.5s; }

#doctors .box:hover .social-links li a:hover i {
  transform: rotateY(360deg); }

#doctors .box:hover .social-links li:nth-child(1) a {
  transition-delay: 0.2s; }

#doctors .box:hover .social-links li:nth-child(2) a {
  transition-delay: 0.3s; }

#doctors .box:hover .social-links li:nth-child(3) a {
  transition-delay: 0.4s; }

#doctors .box:hover .social-links li:nth-child(4) a {
  transition-delay: 0.5s; }

#doctors-name {
  display: block;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #222;
  text-transform: uppercase; }

#plans {
  padding: 4rem 0; }
  #plans-offer {
    border: 1px solid #03a9f4;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 5px; }
    #plans-offer-icon {
      color: #03a9f4;
      font-size: 4.5rem;
      border: 1px solid #03a9f4;
      padding: 3.5rem;
      border-radius: 50%;
      margin: 2rem;
      transition: all 0.5s; }
    #plans-offer-icon:hover {
      color: #fff;
      background: #03a9f4; }
    #plans-offer-discount {
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      background: #03a9f4;
      border: 1px solid #03a9f4;
      border-radius: 5rem;
      margin: 2rem;
      display: inline-block;
      transition: all 0.5s; }
    #plans-offer-discount:hover {
      color: #03a9f4;
      background: #fff; }
    #plans-offer-des {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.4;
      margin: 2rem; }
    #plans-offer-offer {
      text-decoration: none;
      color: #03a9f4;
      font-size: 1.4rem;
      padding: 1rem 2rem;
      background: #fff;
      border: 1px solid #03a9f4;
      border-radius: 5rem;
      margin: 2rem;
      display: inline-block;
      transition: all 0.5s; }
    #plans-offer-offer:hover {
      background: #03a9f4;
      color: #fff; }

#qa {
  background-color: #f7f7f7;
  padding: 4rem 0; }
  #qa-content {
    margin: 4rem 0;
    background: #fff;
    padding: 2rem 5rem;
    border-radius: 5px; }
  #qa-des {
    margin: 2rem; }
    #qa-des-icon {
      font-size: 6rem;
      color: #714da0;
      margin-right: 2rem; }
    #qa-des-time {
      font-size: 1.4rem; }
  #qa-collapse {
    margin: 4rem 0; }
    #qa-collapse-link {
      color: #714da0; }

#footer {
  background: #2d3740;
  padding: 4rem 2rem; }
  #footer-des {
    margin: 2rem 0; }
    #footer-des-icon {
      font-size: 4rem;
      margin-right: 1.2rem; }
    #footer-des-text {
      font-size: 1.4rem; }
  #footer-links {
    list-style: none; }
  #footer-blank {
    color: #7f98ad;
    font-size: 1.4rem;
    text-decoration: none; }
  #footer .btn-sub {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: #714da0;
    border: 1px solid #714da0; }
  #footer .btn-sub:hover {
    background-color: transparent; }
  #footer .btn-input {
    padding: 1.5rem 2rem;
    font-size: 1.4rem; }

@media (max-width: 1024px) {
  .heading-3 {
    font-size: 1.8rem; }
  .paragraph {
    font-size: 1.1rem; }
  .heading-6 {
    font-size: 1.6rem; }
  #qa-des-icon {
    font-size: 5rem; } }

@media (max-width: 992px) {
  #navbar-item {
    font-size: 1.1rem; }
  #navbar-brand {
    font-size: 2rem; }
  .heading-1 {
    font-size: 2.4rem; }
  #offers-icon {
    font-size: 4rem; }
  .heading-3 {
    font-size: 1.6rem; }
  #services-content {
    padding-left: 1rem;
    padding-right: 1rem; } }

@media (max-width: 768px) {
  #plans-offer {
    padding: 5rem; } }

@media (max-width: 576px) {
  #header-btn {
    font-size: 1.2rem; }
  #header-content {
    margin-top: 25rem; } }
