#navbar {
  &-icon {
    color: $color-violet;
    background: $color-violet;
  }
  background: #fff;
  &-item {
    color: $color-primary;
    padding: 0 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
  }
  &-item:hover {
    color: $color-secondary;
  }
  &-brand {
    color: $color-violet;
    font-size: 3rem;
    font-weight: 700;
    
  }
}