.heading-1 {
 font-size: 3rem;
 color: $color-secondary;
 line-height: 1.7;
 font-weight: 600;
 margin-bottom: 1rem;
}
.heading-2 {
  font-size: 2rem;
 color: $color-secondary;
 line-height: 1.7;
 font-weight: 700;
 margin-bottom: 2rem;
}
.heading-3 {
  font-size: 2rem;
  font-weight: 400;
  display: block;
}
.heading-4 {
 font-size: 1.2rem;
 color: $color-grey-dark;
 line-height: 1.7;
 font-weight: 700;
 margin-bottom: 1rem;
}
.heading-5 {
 
}
.heading-6 {
 letter-spacing: 1px;
 font-weight: 600;
 color: $color-primary;
 font-size: 1.8rem;
}
.paragraph {
 font-size: 1.2rem;
 color: $color-secondary;
 line-height: 1.7;
 margin-bottom: 1rem;
 font-weight: 600;
}
.paragraph-des {
 font-size: 1.6rem;
 color: $color-secondary;
 line-height: 1.7;
 margin-bottom: 1rem;
 font-weight: 400;
}